.active{
  color: black !important;
  text-decoration:underline !important;
  overflow: hidden !important;
  text-transform: uppercase !important;
}

.lora-uniquifier {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.main {
  background-color: #1b1c1f;
}

.nav{
  border-radius:80px;
  display: flex;
  background-color: #323335;
  justify-content: space-around;
}

.nav-link{
  color: white !important;
}

#center-link{
  display: flex;
  justify-content: center;
}

.text-about-site{
  padding-right: 8px;
  margin-right: 20px;
  border-right-style: solid;
  margin-left: 25px;
  color: #fdf4e3;
}

.main-block{
  width: 1500px;
}

.img-row{
  width: 1000px;
}

.img-main-block{
  border-radius: 30px;
  margin: 0;
  width: 300px;
  height: 200px;
}

.bigimg-main-block{
  margin-top: 20px;
  margin-bottom: 50px;
  border-radius: 30px;
  width: 990px;  
  height: 400px;
}

.pre-footer{
  height: 1090px;
  background-color: #EAE6CA !important;
}

.rockstar-pres{
  margin-bottom: 30px;
  width: 1500px;
}

.cd-pres{
  margin-bottom: 30px;
  width: 1510px;
}

.ubisoft-pres{
  margin-bottom: 10px;
  width: 1500px;
}

.name{
  width: auto;
  margin-left: 10px;
}

.text1{
  border-left: solid;
}

.text{
  border-right: solid;
}

.learn-button{
  border: none;
  margin-top: 10px;
  background-color: purple;
  width: 200px;
  height: 50px;
  border-radius: 20px;
}

.learn-link{
  text-decoration: none;
  color: white !important;
}

.swiper {
  margin-left: 30px;
  width: 500px;
  height: 300px;
}

.pres-cd{
  margin-left: 50px;
}

.pres-rs{
  margin-left: 25px;
  margin-right: 25px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#text{
  margin-left: 10px;
}

footer{
  height: 150px;
  background-color: black;
}

.footer-container{
  display: flex;
  justify-content: center;
}

.footer-link{
  color: white;
  margin-left: 20px;
}